# copy to container.env and populate
PSIGEL_Username=igelums
PSIGEL_Password=igelums
PSIGEL_ModuleBuildPath=../output/PSIGEL/0.1.0/PSIGEL.psd1
PSIGEL_Computername=igelrmserver
PSIGEL_TCPPort=8443
PSIGEL_Confirm=$False
PSIGEL_SecurityProtocol=Tls12